/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
h1 {
    background-color: moccasin;
    text-align: center;
    font-style: italic;
    font-family: fantasy !important;
    padding: 20px 0px;
}
body {
    background-image: url(https://i.ytimg.com/vi/fPj-mEFPhrA/maxresdefault.jpg);
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.card img {
    max-height: 300px;
    max-width: 300px;
    margin: 0 auto;
}
.navigation {
    text-align: center;
    padding-left: 427px;
}

label {
    padding-left: 788px;
}

input#bird_species {
    padding-left: 10px;
}
input#bird_date {
    padding-left: 33px;
}
input#bird_birder {
    padding-left: 24px;
}
input#bird_location {
    padding-left: 4px;
}
div#submit {
    padding-left: 787px;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 6rem;
    font-weight: bold;
    line-height: 1.2;
    color: inherit;
}


